/* #tableClients{
  margin-left: 19%;
}
 */
 .form1row {
  display: flex !important;

 }

 .line1 {
  margin-right: auto !important;

 }

 .line2 {
  margin-left: 20.9rem;
 }

 .buttonsave{
  margin-left: 34rem;
 }

 .btn-add-client{
  background-color: #90ee90; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn-add-client:hover {
  background-color: green;
}

 .btn-edit{
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn-edit:hover {
  background-color: RoyalBlue;
}

 .btn-trash{
    background-color: red; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
 }
 .btn-trash:hover {
  background-color: #8B0000;
}
